.steps {
    margin-right: 3.875rem;
    margin-left: 3.875rem;
    margin-bottom: 4.375rem;
}

.steps .circle {
    width: 4rem;
    height: 4rem;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.circle-on {
    flex-shrink: 0;
    background-color: #1FC0AE;
}

.circle-in-progress{
    border: 1px solid #8E99AB;
    background: #1FC0AE;
}

.circle-off{
    background: #EAECF0;
}
.text-container {
    display: flex;
    width: 14.4375rem;
    height: 1.08456rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1B1B1B;
    font-size: 1.25rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6875rem;
}

.line {
    /*display: flex;*/
    width: 200px;
    border: none;
    margin-top: 1.9375rem;

    border-top: 0.2rem dotted #1FC0AE;
}

.line-off {
    border-top: 0.2rem dotted #e9ebef;
}



@media screen and (max-width: 1800px) {
    .line {
        width: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .line {
        width: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .line {
        display: none;
    }
}
